.sidebar {
    position: fixed;
    width: 210px;
    height: 100%;
    background: #304156;
    .single-item-container {
        padding: 20px 20px;
        color: white;
        cursor: pointer;
    }
    .single-item-container:hover {
        background: #263445;
    }
}